{{ form_start(form) }}
    {{ form_row(form.titre) }}
    {{ form_row(form.description) }}
    {{ form_row(form.imageFile) }}

    <ul class="images"
    data-index="{{ form.images|length > 0 ? form.images|last.vars.name + 1 : 0 }}"
    data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
    </ul>

    {% for image in form.images %}
            <li>{{ form_widget(image) }}</li>
    {% endfor %}

    <button type="button" class="add_item_link btn btn-dark" data-collection-holder-class="images">Ajouter une image</button>

    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
